In [9]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

In [7]:
%%sql

SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

 * sqlite:///chinook.db
Done.

[]

In [8]:
%%sql

WITH
    invoice_usa AS
    (
        SELECT il.track_id,
               il.quantity
          FROM invoice_line il
         INNER JOIN invoice i ON i.invoice_id = il.invoice_id
         WHERE i.billing_country = 'USA'
    ),
    tracks_sold AS
    (
        SELECT t.track_id,
               SUM(i.quantity) tracks_sold
        FROM track t 
        INNER JOIN invoice_usa i ON t.track_id = i.track_id
        GROUP BY t.track_id
    ),
    track_genre AS
    (
        SELECT g.name genre,
               t.track_id
        FROM track t
        INNER JOIN genre g ON t.genre_id=g.genre_id
    )
SELECT SUM(t.tracks_sold) tracks_sold,
       g.genre
  FROM tracks_sold t 
  INNER JOIN track_genre g ON g.track_id = t.track_id
  GROUP BY g.genre;

 * sqlite:///chinook.db
(sqlite3.OperationalError) no such table: track
[SQL: WITH
    invoice_usa AS
    (
        SELECT il.track_id,
               il.quantity
          FROM invoice_line il
         INNER JOIN invoice i ON i.invoice_id = il.invoice_id
         WHERE i.billing_country = 'USA'
    ),
    tracks_sold AS
    (
        SELECT t.track_id,
               SUM(i.quantity) tracks_sold
        FROM track t
        INNER JOIN invoice_usa i ON t.track_id = i.track_id
        GROUP BY t.track_id
    ),
    track_genre AS
    (
        SELECT g.name genre,
               t.track_id
        FROM track t
        INNER JOIN genre g ON t.genre_id=g.genre_id
    )
SELECT SUM(t.tracks_sold) tracks_sold,
       g.genre
  FROM tracks_sold t
  INNER JOIN track_genre g ON g.track_id = t.track_id
  GROUP BY g.genre;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [4]:
%%sql

WITH
    customer_total AS
    (
        SELECT c.customer_id,
               c.support_rep_id,
               SUM(i.total) customer_total
          FROM customer c 
         INNER JOIN invoice i ON c.customer_id = i.customer_id
        GROUP BY c.customer_id
    )
SELECT e.employee_id,
       e.hire_date,
       e.title,
       SUM(ct.customer_total) rep_total
    FROM customer_total ct
    INNER JOIN employee e ON ct.support_rep_id = e.employee_id
    GROUP BY support_rep_id;

 * sqlite:///chinook.db
(sqlite3.OperationalError) no such table: customer
[SQL: WITH
    customer_total AS
    (
        SELECT c.customer_id,
               c.support_rep_id,
               SUM(i.total) customer_total
          FROM customer c
         INNER JOIN invoice i ON c.customer_id = i.customer_id
        GROUP BY c.customer_id
    )
SELECT e.employee_id,
       e.hire_date,
       e.title,
       SUM(ct.customer_total) rep_total
    FROM customer_total ct
    INNER JOIN employee e ON ct.support_rep_id = e.employee_id
    GROUP BY support_rep_id;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [5]:
%%sql

SELECT c.country,
       COUNT(c.customer_id) nbr_customers,
       SUM(i.total) total_sales,
       COUNT(c.customer_id) / SUM(i.total) avg_sale_per_cust
       
    FROM invoice i
    INNER JOIN customer c ON c.customer_id = i.customer_id
    GROUP BY c.country
    ORDER BY total_sales DESC;

 * sqlite:///chinook.db
(sqlite3.OperationalError) no such table: invoice
[SQL: SELECT c.country,
       COUNT(c.customer_id) nbr_customers,
       SUM(i.total) total_sales,
       COUNT(c.customer_id) / SUM(i.total) avg_sale_per_cust

    FROM invoice i
    INNER JOIN customer c ON c.customer_id = i.customer_id
    GROUP BY c.country
    ORDER BY total_sales DESC;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)