In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({"strings1": ['t', 'f', np.nan], "strings2": ['t', 'f', 'f'], "B": [True, False, np.nan]})
df

  strings1 strings2      B
0        t        t   True
1        f        f  False
2      NaN        f    NaN

In [3]:
df.dtypes

strings1    object
strings2    object
B           object
dtype: object

In [4]:
def update_col(x):
    if x == 'f':
        return False
    elif pd.isnull(x):
        return np.nan
    else:
        return True    
    
df['conversion'] = df[['strings1', 'strings2']].applymap(update_col).any(1, skipna=False)
df

  strings1 strings2      B conversion
0        t        t   True       True
1        f        f  False      False
2      NaN        f    NaN        NaN

In [5]:
df['conversion'].value_counts(dropna=False)

True     1
False    1
NaN      1
Name: conversion, dtype: int64

In [6]:
df['B'].value_counts(dropna=False)

True     1
False    1
NaN      1
Name: B, dtype: int64

In [7]:
s = pd.Series([True, False, np.nan])
s

0     True
1    False
2      NaN
dtype: object

In [8]:
s.value_counts(dropna=False)

True     1
False    1
NaN      1
dtype: int64

In [9]:
s1 = pd.Series([True, False, False])
s1

0     True
1    False
2    False
dtype: bool

In [10]:
s2 = pd.Series([True, False, np.nan])
s2

0     True
1    False
2      NaN
dtype: object

In [11]:
s1.value_counts(dropna=False)

False    2
True     1
dtype: int64

In [12]:
s2.value_counts(dropna=False)

True     1
False    1
NaN      1
dtype: int64

In [13]:
import pandas as pd
pd.__version__

'1.0.5'